@{
    ViewData["Title"] = "Home Page";
}

@model List<Tablero>

<h2> Lista de Tableros </h2>
<table class="table table-striped">
    <thead>
        <th>Id</th>
        <th>Id Usuario Propietario</th>
        <th>Nombre</th>
        <th>Descripcion</th>
    </thead>
    <tbody>
        @foreach(var tablero in Model){
            <tr>
                <td>@tablero.Id</td>
                <td>@tablero.IdUsuarioPropietario</td>
                <td>@tablero.Nombre</td>
                <td>@tablero.Descripcion</td>
            </tr>
        }
    </tbody>
</table>