@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a Kanban MVC</h1>
    <article class="art-home">
        <p>Organiza y gestiona todos tus proyectos en un mismo lugar.</p>
        <p>Crea tableros, agrega tareas y asignalas al usuario correspondiente.</p>
        <img src="https://promovesolucoes.com/wp-content/uploads/2019/01/scrum_kanban_diferencas-1.png" alt="Representación de un modelo kanban">
    </article>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
