html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.formsMVC{
  width: 35%;
  padding: 2em;
}

.form-login-register{
  border: 1px solid grey;
  background-color: aliceblue;
  border-radius: 10px;
}

.section_forms{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.tabIndexSection{
  display: flex;
}

.margin{
  margin-left: 30px;
}

.form-login-register button{
  width: 100%;
}

.form-v1{
  box-shadow: -3px 3px 5px gray;
  border: 1px solid;
  border-radius: 10px;
}

.btn-box{
  align-items: center;
  justify-content: center;
}

.btn-table{
  width: min-content;
}

.art-home img{
  width: fit-content;
  max-width: 100%;
}

.col1{
  width: 12.5%;
}
.col2{
  width: 12.5%;
}
.col3{
  width: 30%;
}
.col4{
  width: 45%;
}