@{
    ViewData["Title"] = "Eliminar Usuario";
}
@model Usuario


<form asp-controller="Usuario" asp-action="DeleteUser">
    <div class="form-group">
        <label asp-for="@Model.Id">Id usuario a eliminar:</label>
        <input asp-for="@Model.Id" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Confirmar</button>
</form>