@{
    ViewData["Title"] = "Home Page";
}

@model List<Usuario>

<h2> Lista de Usuarios </h2>
<table class="table table-striped">
    <thead>
        <th>Id</th>
        <th>Nombre</th>
    </thead>
    <tbody>
        @foreach(var usuario in Model){
            <tr>
                <td>@usuario.Id</td>
                <td>@usuario.NombreDeUsuario</td>
            </tr>
        }
    </tbody>
</table>