@{
    ViewData["Title"] = "Home Page";
}

@model List<Usuario>

<h2> Lista de Usuarios </h2>
<table>
    <thead>
        <th>Id</th>
        <th>Nombre</th>
    </thead>
    <tbody>
        @foreach(var usuario in Model){
            <tr>@usuario.Id</tr>
            <tr>@usuario.NombreDeUsuario</tr>
        }
    </tbody>
</table>